/* This theme styles Material UI components to look like PatternFly components */

.mui-pf-theme {
    --mui-palette-text-primary: var(--pf-v5-global--FontFamily--text);
    --mui-shape-borderRadius: 0;
}

/* <Select> component */
.mui-pf-theme .MuiSelect-root {
    background-color: light-dark(var(--pf-v5-global--BackgroundColor--100), var(--pf-v5-global--BackgroundColor--400, var(--pf-v5-global--BackgroundColor--100)));
}

.mui-pf-theme .MuiSelect-root fieldset {
    border: var(--pf-v5-global--BorderWidth--sm) solid light-dark(var(--pf-v5-global--BorderColor--300), transparent);
    border-block-end-color: light-dark(var(--pf-v5-global--BorderColor--200), var(--pf-v5-global--BorderColor--400, transparent));
}

.mui-pf-theme .MuiSelect-root:hover fieldset {
    border: var(--pf-v5-global--BorderWidth--sm) solid light-dark(var(--pf-v5-global--BorderColor--300), transparent);
    border-block-end-color: var(--pf-v5-global--active-color--100);
}

/* When the Select is open */
.mui-pf-theme .MuiSelect-root.Mui-focused fieldset {
    border: var(--pf-v5-global--BorderWidth--sm) solid light-dark(var(--pf-v5-global--BorderColor--300), transparent);
    border-block-end: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--active-color--100);
}

/* When the MUI Menu is open, it is attached directly to <body> */
.MuiMenu-root .MuiMenu-paper {
    background-color: light-dark(var(--pf-v5-global--BackgroundColor--100), var(--pf-v5-global--BackgroundColor--300, var(--pf-v5-global--BackgroundColor--100)));
}

.MuiMenu-root .MuiMenuItem-root:hover {
    background-color: light-dark(var(--pf-v5-global--BackgroundColor--200), var(--pf-v5-global--BackgroundColor--400, transparent));
}

.mui-pf-theme .MuiSvgIcon-root {
    color: var(--pf-v5-global--Color--200);
}

/* When the MUI Tooltip is open, it is attached directly to <body> */
.MuiTooltip-tooltip {
    background-color: light-dark(var(--pf-v5-global--BackgroundColor--dark-100), var(--pf-v5-global--BackgroundColor--dark-300)) !important;
    color: var(--pf-v5-global--Color--light-100);
    font-size: var(--pf-v5-global--FontSize--sm);
    padding: var(--pf-v5-global--spacer--sm) !important;
}

/* <InfoTooltip> of Perses adds a nested <Typography> to the content */
.MuiTooltip-tooltip span {
    color: var(--pf-v5-global--Color--light-100);
    font-size: var(--pf-v5-global--FontSize--sm);
    font-weight: var(--pf-v5-global--FontWeight--normal);
}

/* required because of <InfoTooltip> styling */
.MuiTooltip-tooltip .MuiTooltip-arrow {
    color: light-dark(var(--pf-v5-global--BackgroundColor--dark-100), var(--pf-v5-global--BackgroundColor--dark-300)) !important;
}
