/* This theme styles Material UI components to look like PatternFly components */

.mui-pf-theme {
    --mui-palette-text-primary: var(--pf-t--global--text--color--regular);
    --mui-shape-borderRadius: var(--pf-t--global--border--radius--small);
}

/* <Select> component */
.mui-pf-theme .MuiSelect-root {
    background-color: var(--pf-t--global--background--color--control--default);
}

.mui-pf-theme .MuiSelect-root fieldset {
    border: var(--pf-t--global--border--width--action--default) solid var(--pf-t--global--border--color--default);
}

.mui-pf-theme .MuiSelect-root:hover fieldset {
    border: var(--pf-t--global--border--width--action--default) solid var(--pf-t--global--border--color--hover);
}

/* When the Select is open */
.mui-pf-theme .MuiSelect-root.Mui-focused fieldset {
    border: var(--pf-t--global--border--width--action--clicked) solid var(--pf-t--global--border--color--clicked);
}

/* When the MUI Menu is open, it is attached directly to <body> */
.MuiMenu-root .MuiMenu-paper {
    background-color: var(--pf-t--global--background--color--floating--default);
}

.MuiMenu-root .MuiMenuItem-root:hover {
    background-color: var(--pf-t--global--background--color--action--plain--hover);
}

.MuiSvgIcon-root {
    color: var(--pf-t--global--text--color--regular);
}
